<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="Resource/css/bootstrap.min.css"></link> 
        <script src="Resource/js/jquery-3.3.1.min.js"></script> 
        <script href="Resource/js/bootstrap.min.js"></script> 
        
        <title>OS Project</title> 
        
        <link rel="stylesheet" href="Resource/css/CustomCSS.css"></link> 
    </h:head> 
    
    
    
    <h:body class="bgbody"> 
        
        <div class="fluid-container">
            <f:view> 
                <h:form> 
                    <br/> 
                    <h:commandButton class="btn btn-lg btn-default" value="Exit Project" action="index.xhtml"/> 
                </h:form> 
            </f:view> 
        </div> 
        
        
        <div class="container"> 
            
            <div class="col-lg-offset-3"> 
                <f:view> 
                    <h:form class="chobtn"> 
                        <marquee class="mq" bgcolor="yellow" behavior="alternate" scrollamount="4"> 
                            Select an Algorithm
                        </marquee> 
                        <br/> 
                        
                        <h:commandButton action="fcfs.xhtml" class="btn btn-default" value="FCFS"/> 
                        <h:commandButton action="sjf.xhtml" class="col-lg-offset-1 btn btn-default" value="SJF"/> 
                    </h:form> 
                </f:view> 
            </div> 
            
            
            
        </div> 
    </h:body> 
</html> 

