<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
     <h:head> 
        
        <link rel="stylesheet" href="Resource/css/bootstrap.min.css"></link> 
        <script src="Resource/js/jquery-3.3.1.min.js"></script> 
        <script href="Resource/js/bootstrap.min.js"></script> 
        
        <title>OS Project</title> 
        
        <link rel="stylesheet" href="Resource/css/CustomCSS.css"></link> 
        
    </h:head> 
    
    
    <h:body> 
        <div class="container input"> 
            <h1>Shortest Job First</h1> 
            <h3>Enter the respective Burst Time indicating the Process number</h3> 
            <br/> 
            
            <f:view> 
                <h:form  class="col-lg-offset-4 form-group col-lg-4"> 
                    Process 1: <h:inputText class="form-control" value="#{obj2.a}"/> <br/> 
                    Process 2: <h:inputText class="form-control" value="#{obj2.b}"/> <br/>
                    Process 3: <h:inputText class="form-control" value="#{obj2.c}"/> <br/> 
                    Process 4: <h:inputText class="form-control" value="#{obj2.d}"/> <br/> 
                    
                    <h:commandButton class="col-lg-offset-5 btn btn-lg btn-primary" value="Submit" action="#{obj2.process()}"/> 
                </h:form> 
            </f:view> 
            
            <br/> 
        </div> 
        
        <br/><br/> 
        
        
        <div class="output fluid-container"> 
            <f:view> 
                <h:form> 
                    <table  class="table table-striped table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Process No.</th> 
                                
                                <th>BT</th> 
                                <th>WT</th> 
                                <th>A.WT</th> 
                                <th>TAT</th> 
                                <th>A.TAT</th> 
                                <th>RT</th> 
                                <th>A.RT</th> 
                            </tr>  
                        </thead> 
                        
                        
                        
                        
                        <tbody> 
                            <tr> 
                                <td> <h:inputText value="#{obj2.p[0]}"/> </td> 
                                
                                <td> <h:inputText value="#{obj2.value[0]}"/> </td> <!--  BT --> 
                                <td> <h:inputText value="#{obj2.wt[0]}"/> </td> <!--  WT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.WT --> 
                                <td> <h:inputText value="#{obj2.tat[0]}"/> </td> <!--  TAT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.TAT --> 
                                <td> <h:inputText value="#{obj2.rt[0]}"/> </td> <!--  RT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.RT --> 
                            </tr> 


                            


                            <tr>
                                <td> <h:inputText value="#{obj2.p[1]}"/> </td> 
                                
                                <td> <h:inputText value="#{obj2.value[1]}"/> </td> <!--  BT --> 
                                <td> <h:inputText value="#{obj2.wt[1]}"/> </td> <!--  WT --> 
                                <td> <h:inputText value="#{obj2.awt}"/> </td> <!--  A.WT --> 
                                <td> <h:inputText value="#{obj2.tat[1]}"/> </td> <!--  TAT --> 
                                <td> <h:inputText value="#{obj2.atat}"/> </td> <!--  A.TAT --> 
                                <td> <h:inputText value="#{obj2.rt[1]}"/> </td> <!--  RT --> 
                                <td> <h:inputText value="#{obj2.art}"/> </td> <!--  A.RT --> 
                            </tr> 





                            <tr>
                                <td> <h:inputText value="#{obj2.p[2]}"/> </td> 
                                
                                <td> <h:inputText value="#{obj2.value[2]}"/> </td> <!--  BT --> 
                                <td> <h:inputText value="#{obj2.wt[2]}"/> </td> <!--  WT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.WT --> 
                                <td> <h:inputText value="#{obj2.tat[2]}"/> </td> <!--  TAT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.TAT --> 
                                <td> <h:inputText value="#{obj2.rt[2]}"/> </td> <!--  RT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.RT --> 
                            </tr> 






                            <tr> 
                                <td> <h:inputText value="#{obj2.p[3]}"/> </td> 
                                
                                <td> <h:inputText value="#{obj2.value[3]}"/> </td> <!--  BT --> 
                                <td> <h:inputText value="#{obj2.wt[3]}"/> </td> <!--  WT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.WT --> 
                                <td> <h:inputText value="#{obj2.tat[3]}"/> </td> <!--  TAT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.TAT --> 
                                <td> <h:inputText value="#{obj2.rt[3]}"/> </td> <!--  RT --> 
                                <td> <h:inputText value=""/> </td> <!--  A.RT --> 
                            </tr> 
                        </tbody> 
                    </table> 
                </h:form> 
            </f:view> 

        </div> 
        
        <br/> <br/> 
        
        <div class="container">
            <f:view> 
                <h:form> 
                    <h:commandButton class="col-lg-offset-5 col-lg-2 btn btn-lg btn-primary" value="Exit Algorithm" action="#{obj2.exit()}"/> <br/>
                    <br/><br/>
                    <h:commandButton class="col-lg-offset-5 col-lg-2 btn btn-lg btn-primary" value="Exit Project" action="index.xhtml"/> <br/>
                </h:form> 
            </f:view> 
        </div> 
        
        <br/> <br/> <br/> <br/> <br/> <br/> 
        
    </h:body> 
</html> 

